@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

@theme {
  --color-primary: #caf0f8;
  --color-primaryone: #90e0ef;
  --color-primarytwo: #00b4d8;
  --color-primarythree: #0077b6;
  --color-primaryfour: #03045e;
  --color-background: #ffffff;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(130%);
    }
    100% {
      transform: translateX(-130%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}
div::-webkit-scrollbar, body::-webkit-scrollbar{
  display: none;
}


.no-scroll {
  overflow: hidden;
  height: 100vh;
}
body{
  font-family: 'Helvetica Neue', sans-serif;
}



